/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

/* EXTENSIONS */
.standardBox {
	position:relative;
	width: 100px;
	height: 100px;
	border: 1px solid gray;
}


/* MIXINS */
@mixin mixinBox {
	position:relative;
	width: 200px;
	height:150px;
	border: 1px solid black;
}

/* MIXIN WITH ARGUMENTS */
@mixin resizeableMixinBox($width, $height) {
	position:relative;
	width: $width;
	height:$height;
	border: 2px solid gray;
}
